<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
	<title>Book Search</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
<script th:inline="javascript">
/*<![CDATA[*/

	var pageUri = /*[[${pageUri}]]*/ '';
	var page = /*[[${pageHelper.currentPageNum}]]*/ 1;
	var pageSize = /*[[${pageHelper.pageSize}]]*/ 10;
	var sortField = /*[[${sortField}]]*/ 'createDate';
	var sortDir = /*[[${sortDir}]]*/ 'DESC';
	var token = /*[[${_csrf.token}]]*/ '';
	var header = /*[[${_csrf.headerName}]]*/ '';
		
	//spring security token 전송
 	$(function() {
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	}); 
	
	function move(num){
		page = num;
		call();
	}
	
	function sort(field){
		debugger;
		var newSortDir = 'DESC';
		if(sortField == field){
			if(sortDir == 'DESC'){
				newSortDir = 'ASC';
			}
		}
		sortField = field;
		sortDir = newSortDir;
		call();
	}
	
	function changeSize(size){
		pageSize = size;
		call();
	}
	
	function call(){
		
		var uri = StringFormat("{0}?sortField={1}&sortDir={2}&page={3}&pageSize={4}",
				pageUri, sortField, sortDir, page, pageSize);
		
		location.href = uri;
	}
	
	function deleteBookMark(no){
		 $.ajax({
			url: "/book/bookmark/remove",
			data: { bookmarkNo : no },
			method: "POST",
			success: function(result){
				if(result == "Success"){
					location.reload();
				}		
			}
		}) 
	}

/*]]>*/
</script>
</th:block>

<th:block layout:fragment="content_body" >
	<div class="content-wrapper">
	<div th:include="fragments/main_navbar :: mainNav" th:with="navid='bookmark'"></div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<h3>책 검색 북마크</h3>
						</div>
					</div>
					
				</div>

			</div>

			<div class="card">
				<div class="card-body">					
					<table class="table table-bordered" style="margin-top: 20px;">
						<colgroup>
							<col style="width:35%">
							<col style="width:15%">
							<col style="width:20%">
							<col style="width:20%">
							<col style="width:10%">
						</colgroup>
						<thead class="thead-dark">
							<tr>
								<th scope="col" style="cursor:pointer;" th:onclick="|sort('title')|">
									제목 <span th:classappend="${sortField == 'title'} ? (${sortDir == 'ASC'} ? 'oi oi-caret-top' : 'oi oi-caret-bottom' ) : '' "></span>
								</th>
								<th scope="col">출판사</th>
								<th scope="col">작가</th>
								<th scope="col" style="cursor:pointer;" th:onclick="|sort('createDate')|">
									검색일 <span th:classappend="${sortField == 'createDate'} ? (${sortDir == 'ASC'} ? 'oi oi-caret-top' : 'oi oi-caret-bottom' ) : '' "></span>
								</th>
								<th scope="col">해제</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="bookmark : ${bookmarks}">
								<td>
									<img th:attr="src=@{${bookmark.thumbnail}}" style="height:30px;" />
									<a class="cancela" th:text="${bookmark.title}" th:href="@{${bookmark.url}}" target="_blank"></a>
								</td>
								<td th:text="${bookmark.publisher}"></td>
								<td th:text="${bookmark.authors}"></td>
								<td th:text="${#temporals.format(bookmark.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
								<td class="text-center">
									<button th:onclick="|deleteBookMark('${bookmark.no}')|" class="btn btn-danger btn-sm">해제</button>
								</td>							
							</tr >
							<tr th:if="${pageHelper.empty}">
								<td colspan="5">검색결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<div th:replace="fragments/pagenation :: pagenation" th:with="pageHelper=${pageHelper}" ></div>
				</div>
			</div>
		</div>

	</div>
</th:block>

</html>