<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main_layout">
<th:block layout:fragment="html_head">
	<title>Book Search</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
<script th:inline="javascript">
/*<![CDATA[*/

	var pageUri = /*[[${pageUri}]]*/ '';
	var page = /*[[${pageHelper.currentPageNum}]]*/ 1;
	var pageSize = /*[[${pageHelper.pageSize}]]*/ 10;
		
	function move(num){
		page = num;
		call();
	}
	
	function changeSize(size){
		pageSize = size;
		call();
	}
	
	function call(){
		var uri = StringFormat("{0}?page={1}&pageSize={2}",
				pageUri, page, pageSize);
		location.href = uri;
	}

/*]]>*/
</script>
</th:block>

<th:block layout:fragment="content_body" th:with="navid='history'">
	<div class="content-wrapper">
	<div th:include="fragments/main_navbar :: mainNav" th:with="navid='history'"></div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<h3>책 검색 히스토리</h3>
						</div>
					</div>
					
				</div>

			</div>

			<div class="card">
				<div class="card-body">					
					<table class="table table-bordered" style="margin-top: 20px;">
						<colgroup>								
								<col style="width:5%">
								<col style="width:35%">
								<col style="width:15%">
								<col style="width:25%">
								<col style="width:20%">
							</colgroup>
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">제목</th>
								<th scope="col">출판사</th>
								<th scope="col">작가</th>
								<th scope="col">검색일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="history, i : ${histories}">
								<td th:utext="(${pageHelper.currentPageNum}-1)*${pageHelper.pageSize}+${i.count}"></td>
								<td>
									<img th:attr="src=@{${history.thumbnail}}" style="height:30px;" />
									<a class="cancela font-weight-bold" th:utext="${history.title}" th:href="@{${history.url}}" target="_blank"></a>
								</td>
								<td th:utext="${history.publisher}"></td>
								<td th:utext="${history.authors}"></td>
								<td th:utext="${#temporals.format(history.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>						
							</tr>
							<tr th:if="${pageHelper.empty}">
								<td colspan="5">검색결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<div th:replace="fragments/pagenation :: pagenation" th:with="pageHelper=${pageHelper}" ></div>
				</div>
			</div>
		</div>

	</div>
</th:block>

</html>