<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main_layout">
	
<th:block layout:fragment="html_head">
	<title>Book Search</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>
<th:block layout:fragment="custom_js">
<script th:inline="javascript">
/*<![CDATA[*/

	var pageUri = /*[[${pageUri}]]*/ '';
	var searchField = /*[[${filterHelper.searchField}]]*/ 'all';
	var searchValue = /*[[${filterHelper.searchValue}]]*/ '';
	var sortField = /*[[${filterHelper.sortField}]]*/ 'accuracy';
	var sortDir = /*[[${filterHelper.sortDir}]]*/ 'ASC';
	var page = /*[[${filterHelper.page}]]*/ 1;
	var pageSize = /*[[${filterHelper.pageSize}]]*/ 10;
	var token = /*[[${_csrf.token}]]*/ '';
	var header = /*[[${_csrf.headerName}]]*/ '';
	
	//spring security token 전송
 	$(function() {
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	    });
	}); 
	
	function search(){
		searchField = $("#searchField option:selected").val();
		searchValue = $("#searchValue").val();
		call();
	}
	
	function sort(field){
		sortField = field;
		call();
	}
	
	function move(num){
		page = num;
		call();
	}
	
	function call(){
		var uri = StringFormat("{0}?searchField={1}&searchValue={2}&sortField={3}&sortDir={4}&page={5}&pageSize={6}",
				pageUri, searchField, encodeURI(searchValue), sortField, sortDir, page, pageSize);

		
		location.href = uri;
	}
	
	function addHistory(title, publisher, authors, thumbnail, detailUrl){
		$("#hTitle").val(title);
		$("#hPublisher").val(publisher);
		$("#hAuthors").val(authors);
		$("#hThumbnail").val(thumbnail);
		$("#hUrl").val(detailUrl);
		$.ajax({
			url: "/book/history",
			data: $("#setHistoryForm").serialize(),
			method: "POST"
		}) 
	}
	
	function addBookMark(title, publisher, authors, thumbnail, detailUrl, isbn){
		$("#mTitle").val(title);
		$("#mPublisher").val(publisher);
		$("#mAuthors").val(authors);
		$("#mThumbnail").val(thumbnail);
		$("#mUrl").val(detailUrl);
		$("#mIsbn").val(isbn);
		$.ajax({
			url: "/book/bookmark",
			data: $("#setBookMakrForm").serialize(),
			method: "POST",
			success: function(result){
				if(result === "Success"){
					alert("추가되었습니다.");
				}else if(result === "Duplicate"){
					alert("이미 추가된 책 입니다.");
				}else{
					alert("북마크 추가에 실패했습니다.");
					location.reload();
				}
			}
		}) 
	}

/*]]>*/
</script>
</th:block>

<th:block layout:fragment="content_body">
	<div class="content-wrapper">
	<div th:include="fragments/main_navbar :: mainNav" th:with="navid='search'"></div>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<h3>책 검색</h3>
						</div>
						<div class="col-md-6">
							<div class="form-group mb-2" th:object="${filterHelper}">
								<div class="input-group mb-2">
									<div class="input-group-prepend">
										<select class="form-control" th:field="*{searchField}">
									      <option th:value='all' >전체</option>
									      <option th:value='title' >책 제목</option>
									      <option th:value='overview' >책 소개</option>
									      <option th:value='publisher' >출판사</option>
									    </select>								
									</div>
									<input type="text" class="form-control" th:field="*{searchValue}">
									<div class="input-group-append">
									    <button th:onclick="|search()|" class="btn btn-outline-warning active">검색</button>										   
									 </div>
								</div>
							</div>						
						</div>
					</div>
					
				</div>

			</div>

			<div class="card">
				<div class="card-body">
					<div class="btn-group float-right mb-2" role="group" aria-label="Basic example">
					  <button type="button" th:onclick="|sort('accuracy')|" class="btn btn-outline-warning" th:classappend="${filterHelper.sortField == 'accuracy'}? active : ''">정확도순<span class="oi oi-sort-descending"></span></button>
					  <button type="button" th:onclick="|sort('recency')|" class="btn btn-outline-warning" th:classappend="${filterHelper.sortField == 'sales'}? active : ''">판매량순<span class="oi oi-sort-descending"></span></button>
					  <button type="button" th:onclick="|sort('sales')|" class="btn btn-outline-warning" th:classappend="${filterHelper.sortField == 'recency'}? active : ''">발행일순<span class="oi oi-sort-descending"></span></button>
					</div>
					<table class="table table-bordered" style="margin-top: 20px;">
						<thead class="thead-dark">
							<tr>
								<th scope="col">표지</th>
								<th scope="col">상세정보</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="book : ${books}">
								<td><img th:attr="src=@{${book.thumbnail}}" /></td>
								<td>
									<dl>
										<!-- <dt><a th:text="${book.title}" th:href="@{${book.url}}" target="_blank"></a></dt> -->
										<dt class="mb-2">
											<a class="cancela" th:utext="${book.title}" th:href="@{${book.url}}" target="_blank"
												th:onclick="|addHistory('${book.title}','${book.publisher}','${#strings.listJoin(book.authors, ', ')}','${book.thumbnail}','${book.url}')|" ></a>
										</dt>
										<dd class="info">
											<div>
												<p class="mb-0"><span th:utext="${#strings.listJoin(book.authors, ', ')}"></span> | 지음</p>
												<p class="mb-0"><span th:utext="${book.publisher}"></span> | 펴냄</p>
												<button th:onclick="|addBookMark('${book.title}','${book.publisher}','${#strings.listJoin(book.authors, ', ')}','${book.thumbnail}','${book.url}','${book.isbn}')|" 
													class="btn btn-warning btn-sm mt-2"><span class="oi oi-star"></span>북마크에 추가</button>
											</div>
										</dd>
										<dd class="content">
											<span th:utext="${book.contents}"></span>
										</dd>
									</dl>							
								</td>								
							</tr>
							<tr th:if="${pageHelper.empty}">
								<td colspan="2">검색결과가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<div th:replace="fragments/pagenation :: pagenation" th:with="pageHelper=${pageHelper}" ></div>
				</div>
			</div>
		</div>

	</div>
	<form action="#" th:action="@{/book/history}" id="setHistoryForm" th:object="${history}" method="post">
		<input type="hidden" id="hTitle" th:field="*{title}"/>				
		<input type="hidden" id="hPublisher" th:field="*{publisher}"/>
		<input type="hidden" id="hAuthors" th:field="*{authors}"/>				
		<input type="hidden" id="hThumbnail" th:field="*{thumbnail}"/>
		<input type="hidden" id="hUrl" th:field="*{url}"/>	
	</form>
	
	<form action="#" th:action="@{/book/bookmark}" id="setBookMakrForm" th:object="${bookmark}" method="post">
		<input type="hidden" id="mTitle" th:field="*{title}"/>				
		<input type="hidden" id="mPublisher" th:field="*{publisher}"/>
		<input type="hidden" id="mAuthors" th:field="*{authors}"/>				
		<input type="hidden" id="mThumbnail" th:field="*{thumbnail}"/>
		<input type="hidden" id="mUrl" th:field="*{url}"/>				
		<input type="hidden" id="mIsbn" th:field="*{isbn}"/>
	</form>
</th:block>

</html>