.log {background: #001b4a;}
.sign {background: #3b3b3b;}

.log .content-wrapper, .sign .content-wrapper {
    padding: 2rem 1.5rem;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.full-page-wrapper {
    margin-left: 0;
    width: 100%;
}

.cancela,.cancela:link,.cancela:visited,.cancela:focus,.cancela:active{
    color: inherit !important;
}

dd.info{
	float:left;
	width:30%;
}

dd.content{
	float:left;
	width:60%;
}

table th{
	text-align:center;
}